{% load static %}
{% load cart_templates_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'css/style.base.css' %}">

	{% block extra_head %}

	{% endblock extra_head %}


</head>
	<body>
		<!-- Header -->
		<div id="header" class="shell">
			<div id="logo"><h1><a href="">BookSeller</a></h1></div>
			<!-- Navigation -->
			<div id="navigation">
				<ul>
					{% block content %}

					{% endblock content %}

					<li><a href=" {% url 'home' %}" >Home</a></li>
					<li><a href="personal">Profile</a></li>

					{% if user.is_authenticated %}
						<li><a href="logout">Log Out</a></li>
					{% else %}
						<li><a href="{% url 'index' %}">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<!-- End Navigation -->
			<div class="cl">&nbsp;</div>
			<!-- Login-details -->
			<div id="login-details">
				{% if user.is_authenticated %}

				<p>Welcome,  <b> {{user.first_name}} </b></p>

					{% if user.last_name == 'customer' %}
						<p><a href="cart"><img  class="cart"  src="{% static 'css/images/cart-icon.png' %}" /> Shopping Cart <b style="font-size: 13px;">({{request.user|cart_item_count}})</b></a> </p>
					{% endif %}

				{% else %}

				<p>Welcome,  <b> Guest </b></p><p>

				{% endif %}
			</div>

			<!-- End Login-details -->
		</div>
		<!-- End Header -->
		<!-- Main -->
		<div id="main" class="shell">
			<!-- Content -->
			<div id="content">
				<!-- Products -->
				{% block body %}

				{% endblock %}
				<!-- End Products -->
				</div>
			</div>
			<!-- End Content -->
			<div class="cl">&nbsp;</div>

		</div>
		<!-- End Main -->



	</body>
</html>
