{% extends 'base.html' %}
{% load static %}
{% load req_templates_tags %}

{% block title %} Online Book Store {% endblock title %}


{% block content %}
			<li>
				<a href="book_reqm"> Book Requests ({{request.user|req_item_count}}) </a>
			</li>
{% endblock content %}


{% block body %}

<h3>Add Books</h3>

{% for message in messages %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
{% endfor %}

<form action="add_book" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Enter the Book name</label>
      <input type ="text" class="form-control" placeholder="Book Name" name="name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Enter the Author name</label>
        <input type ="text" class="form-control" placeholder="Author Name" name="author">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Cost of the book</label>
        <input type ="text" class="form-control" id="exampleFormControlInput1" placeholder="Cost" name="cost">
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Photo of book cover</label>
      <input type="file" class="form-control-file" name="img">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

{% endblock body %}