{% extends 'base.html' %}
{% load static %}

{% block title %} Books {% endblock title %}


{% block extra_head %}
    
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
          text-align: center;
          border: none;
          background-color: white;
        }        

    </style>

{% endblock extra_head %}

{% block body %}

    <h3>Your Books </h3>

<div class="container">

    {% if books %}

    <div class="row" style="height: 70px;">
        <div class="col-6 text-md-left">
            <h4><strong>Book Name </strong></h4>
        </div>
        <div class="col-3 text-md-center row">
            <h5><strong>Cost </strong></h5>            
        </div>
    </div>



        {% for item in books %}

            <div class="row">
                <div class="col-6 text-md-left">
                    <h4 class="product-name"><strong>{{item.name}}</strong></h4>
                    <h4>
                        <small>by {{item.author}}</small>
                    </h4>
                </div>
                <div class="col-3 text-md-center row">
                    <h5><strong>Rs. {{item.cost}}</strong></h5>                   
                </div>
            </div>

            {% endfor %}
        

        {% else %}
            <h4>No Books</h3>
        {% endif %}

    <hr width="60vw">
    <!-- END PRODUCT -->
</div>


{% endblock %}