{% extends 'base.html' %}
{% load static %}

{% block title %} Shopping Cart {% endblock title %}


{% block body %}

    <h3>Your Orders</h3>

<div class="container">

    {% for message in messages %}
        <div class="alert alert-primary" role="alert"  style="width: 48vw;">
            {{ message }}
        </div>
    {% endfor %}


    {% if orders %}

    <div class="row" style="height: 70px;">
        <div class="col-2 text-md-center">
            <h4><strong>Order id </strong></h4>
        </div>
        <div class="col-6 text-center row">
            <div class="col-6 text-md-center">
                <h4><strong>Books</strong></h4>
            </div>
            <div class="col-2 text-md-center">
                <h4><strong>Cost</strong></h4>
            </div>
        </div>
    </div>



        {% for it in orders %}

            <div class="row" style="min-height: 80px;">
                <div class="col-2 text-md-center align-middle">
                    <p style="font-size: 16px;"> <b>{{it.id}}</b><p>
                </div>
                <div class="col-6 text-md-center row">
                    <div class="col-9 text-md-center row">
                        {% for book in it.items.all    %}
                            <div class="col-9 text-md-center">
                                <p style="font-size: 16px;">{{book.quantity}} x <b>{{book.item.name}}</b> &nbsp;<small>by {{book.item.author}}</small></p>
                            </div>
                            <div class="col-3 text-md-center">
                                <p style="font-size: 16px;">Rs. {{book.get_total_item_price}}</p>
                            </div>
                        {% endfor %}
                    </div>
                    {% if it.delivered %}
                        
                        {% if it.return_started == False %}
                            <div class="col-3 align-middle" >
                                <a href="{% url 'retrn' it.id %}" class="btn btn-danger">Return</a>
                            </div>
                        {% else %}
                            {% if it.returned %}
                                <div class="col-3 align-middle " >
                                    <span class="badge badge-danger">Return Successful</span>
                                </div>
                            {% else %}
                                <div class="col-3 align-middle " >
                                    <h5> Return Processing...</h5>
                                </div>
                            {% endif %}
                            
                        {% endif %}
                        
                    {% else %}
                        <div class="col-3 align-middle " >
                            <h4>Processing...</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        

            
        {% else %}
            <h4>No Orders</h3>
        {% endif %}

    <hr width="60vw">
    <!-- END PRODUCT -->
</div>


{% endblock %}