{% extends 'base.html' %}
{% load static %}

{% block title %} Change password {% endblock title %}

{% block extra_head %}
	
{% endblock extra_head %}

{% block body %}

    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <label for="password1">Enter Old password : </label>&emsp;
        <input type="password" name="password1" placeholder="Old password"><br>
        <label for="password2">Enter New password : </label>&emsp;
        <input type="password" name="password2" placeholder="New Password"><br>
        <label for="password3">Enter New password Again : </label>&emsp;
        <input type="password" name="password3" placeholder="New Password"><br>
        <button type="submit">Apply Changes</button>
    </form>

{% endblock %}